*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.navbar1{
    width: 100%;
    height: 3rem;
    background-color: #F5F5F5;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
}
.nav1-left{
    display: flex;
    
    width:32rem;
}
.nav1-right{
    display: flex;
    width:20rem;
}
.nav1-right-inner2 a{
background-color: white;
height: 2rem;
width: 1.7rem;
padding: 5px;
}

/* navbar2 */
.navbar2{
    display: flex;
    width: 100%;
    height: 4.5rem;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1020;
    
}
.nav2-left{
    width:30%;
    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-top: 0.4rem;
    
}
.nav2-right{
    display: flex;
    align-items: center;
    width:50rem;
    height: 4.5rem;
    
}
.nav2-right ul{
display: flex;
align-items: center;
list-style: none;
justify-content: space-evenly;
width: 70%;
font-size: 1.1rem;
font-weight:900;
padding-top: 1rem;
}
.nav2-right ul a{
    text-decoration: none;
    color: black;
    }
    .nav2-right ul a:hover{
        
        color:#ab7442;
        }

        .dropdown{
            display: none !important;
            position: absolute;
            background-color: #fff;
            padding: 10px;
            box-shadow: 1px 1px 5px black;
            width: 10rem !important;
        
        }
        
        .nav2-right ul :hover .dropdown {
            position: absolute;
            display: block !important;
            color: white;
            padding-top: 1rem;
        }
        .dropdown li:hover{
            padding-left: 5px;
            
            
            
        }
        

    .nav2-right button{
        width: 30%;
        height: 100%;
        background-color: #ab7442;
        color: white;
        border: none;
        font-size: 1.4rem;
    }

    /* slider */

    .carousel-item1-img{
        width:100%;
        height: 80vh;
        background-image: url(/images/carousel-2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-shadow: 1px 1px 1px black;
    }
    .carousel-item2-img{
        width:100%;
        height: 80vh;
        background-image: url(/images/carousel-1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-shadow: 1px 1px 1px black;
        
    }
    .carousel-item3-img{
        width:100%;
        height: 80vh;
        background-image: url(/images/carousel-3.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-shadow: 1px 1px 1px black;
    }
    .welcome-text-div{
        width:50rem;
        text-align: center;
        
    }


    /* section product */


    .section-product{
        padding-top: 6rem;
        padding-bottom: 7rem;
    }
    .main-product{
        width:80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .product-child{
        width: 22%;
    }
    .product-child-inner{
        
        display: flex;
        justify-content: space-between;
    }
    .product-child-inner a{
        background-color: rgb(241, 241, 241);
        height: 3.5rem;
        width: 3rem;
        margin-top: 1.2rem;
    }

    .product-child-inner a img{
        width: 2rem;
        height: 2.5rem;
        margin-top: 1rem;
        margin: 8px;
        
        
    }



    /* section aboutus */
    .section-aboutus{
        width: 100%;
        display: flex;
        
    }
    .aboutus-left{
        width: 50%;
        
    }
    .aboutus-left img{
        width: 100%;
        height: 33rem;
    }
    .aboutus-right{
        width: 50%;
        padding-left: 2%;
        padding-right: 5%;
        background-color: #F5F5F5;
        padding-top: 5rem;
        
        
    }
    .client-project-parent{
        display: flex;
        width: 100%;
        margin-top: 3rem;
        justify-content: space-between;
        
    }



    /* sectionn services */


    .section-services{
        margin-top: 8rem;
        margin-bottom: 8rem;

    }

    .services-heading h1{
        text-align: center;
        font-weight: bold;
        font-size: 3.5rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .main-services{
        width: 85%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 2rem;
    }
    .services{
        width:32%;
        box-shadow: 0.2px 0.2px 4px rgb(129, 128, 128);
        overflow: hidden !important;
        
    }
    .services-img{
        width: 100%;
        height: 15rem;
        
       
    }
    .services-img img{
        width:100%;  
        height: 100%;
        
    
        

    }
    .services-img:hover{
        scale:110% 1;
        transition: 0.5s;
        
    }
    .services-info{
        text-align: center;
        padding: 5%;
    }



    /* section choose us */

    .section-choose{
        width: 100%;
        display: flex;
        
    }
    .choose-right{
        width: 50%;
        
    }
    .choose-right img{
        width: 100%;
        height: 33rem;
    }
    .choose-left{
        width: 50%;
        padding-left: 5%;
        padding-right: 5%;
        background-color: #F5F5F5;
        padding-top: 5rem;
        
        
    }
    .client-project-parent{
        display: flex;
        flex-wrap: wrap;
        row-gap: 2rem;
        width: 100%;
        margin-top: 3rem;
        justify-content: space-between;
        
    }


    /* projects */

    .section-projects{
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .project-heading {
        text-align: center;
        width: 30rem;
        margin: auto;
    }
    .project-heading h1{
       font-size: 2.7rem;
       font-weight: 900;
    }
    
    .project-heading ul{
        display: flex;
        list-style: none;
        padding-left: 5rem;
        column-gap: 1rem;
    }
    .project-heading ul a{
        text-decoration: none;
        color: black;
    }
    .project-heading ul a li:hover{
        color: #ab7442;
        text-decoration-line: underline;
        
    }
    .projects-main{
        width:85%;
        margin: auto;
        margin-top: 3rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 2rem;
    }


    .projects-child{
        width:32%;  
        box-shadow: 1px 1px 5px  rgb(134, 134, 134); 
    }
    .portfolio1{
        background-image: url(/images/portfolio-1.jpg);
        width: 100%;
        height: 20rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .project-upper-card{
        width: 100%;
        height: 100%;
        background-color: #353535;
        opacity: 0.7;
        visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    .portfolio1:hover .project-upper-card{
        visibility: visible;            
    }
    .portfolio2:hover .project-upper-card{
        visibility: visible;            
    }
    .portfolio3:hover .project-upper-card{
        visibility: visible;            
    }
    .portfolio4:hover .project-upper-card{
        visibility: visible;            
    }
    .portfolio5:hover .project-upper-card{
        visibility: visible;            
    }
    .portfolio6:hover .project-upper-card{
        visibility: visible;            
    }
    .portfolio2{
        background-image: url(/images/portfolio-2.jpg);
        width: 100%;
        height: 20rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .portfolio3{
        background-image: url(/images/portfolio-3.jpg);
        width: 100%;
        height: 20rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .portfolio4{
        background-image: url(/images/portfolio-4.jpg);
        width: 100%;
        height: 20rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .portfolio5{
        background-image: url(/images/portfolio-5.jpg);
        width: 100%;
        height: 20rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .portfolio6{
        background-image: url(/images/portfolio-6.jpg);
        width: 100%;
        height: 20rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .project-info {
        width:90%;
        margin: auto;
        padding-bottom: 2rem;
    }
    .project-info h5{
        color: #ab7442;
        font-weight: 900;
        margin-top: 1.5rem;
        margin-bottom: 0.7rem;
    }
    .project-info h4{
        
        font-weight: 900;
    }
    .project-upper-card a:hover{
        background-color: #ab7442;
        

    }



    /* free quote */

    .free-quote{
        width:100%;
        display: flex;
        padding-bottom: 5rem;
    }
    .free-quote-left{
        width:50%;
    }
    .free-quote-left img{
        width:100%;
        height: 45rem;
    }
    .free-quote-right{
        width: 50%;
        padding-top: 4rem;
        padding-left: 5%;
        background-color:#F5F5F5;
    }
    .quote-info{
        
        width: 80%;
    }
    .quote-form{
        width: 80%;
        row-gap: 2rem;
    }
    .quote-form input{
        width: 49%;
        height: 3rem;
        font-size: 1rem;
        padding-left: 0.6rem;
        margin-top: 2rem;
        border: none;
    }
    .quote-form textarea{
        width: 100%;
        height: 7rem;
        font-size: 1rem;
        padding-left: 0.6rem;
        margin-top: 2rem;
        border: none;
    }



    /* section team */

    .team-heading{
        text-align: center;
        font-size: 3.5rem;
        font-weight: 900;
        padding-bottom: 3rem;
        padding-top: 2rem;
    }
    .team-main{
        width:80%;
        padding-bottom: 5rem;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    .team1{
        background-image: url(/images/team-1.jpg);
        width: 100%;
        height: 20rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden !important;
        
    }
    .team-upper-card{
        display: flex;
        flex-direction: column;
        width: 4rem;
        height: 8rem;
        justify-content: space-evenly;
        margin-top: 5rem;
        background-color: white;
        padding: 2rem 1.5rem;
        visibility: hidden;
        transition: 0.7s ;
    
       
    }
    .team1:hover .team-upper-card{
        visibility: visible; 
        transform: rotate(360deg);

    }
    .team2:hover .team-upper-card{
        visibility: visible;
        transform: rotate(360deg);
    }
    .team3:hover .team-upper-card{
        visibility: visible;
        transform: rotate(360deg);
    }
    .team4:hover .team-upper-card{
        visibility: visible;
        transform: rotate(360deg);
    }
     
    .team1:hover {
        scale: 105% 1;
       
    }
    .team2:hover {
        scale: 105% 1;
       
    }
    .team3:hover {
        scale: 105% 1;
       
    }
    .team4:hover {
        scale: 105% 1;
       
    }
    .team2{
        background-image: url(/images/team-2.jpg);
        width: 100%;
        height: 20rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden !important;
    }
    .team3{
        background-image: url(/images/team-3.jpg);
        width: 100%;
        height: 20rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden !important;
    }
    .team4{
        background-image: url(/images/team-4.jpg);
        width: 100%;
        height: 20rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden !important;
    }
    .team-child{
        width:23.5%;
        box-shadow: 1px 1px 5px rgb(177, 174, 174);
        padding-bottom: 2rem;
        overflow: hidden;
    }
   
    .team-info{
        padding-top: 1rem;
        text-align: center;
    }


    /* testmonial */


    .custom-carousel-inner{
        width:40%;
        margin: auto;
    }
    .custom-carousel-item{
        text-align: center;
    }
    .custom-carousel-content{
        padding: 4%;
        box-shadow: 1px 1px 5px rgb(211, 210, 210);
        margin-top: 3rem;
    }


    .carousel-control-next-icon {
          background-color: #ab7442;
    }
    .carousel-control-prev-icon {
        background-color: #ab7442;
           }


           /* section footer */

           .section-footer{
            width: 100%;
            padding-top: 5rem;
            
            background-color: #353535;
           }

           .footer-main{
            width: 80%;
            margin: auto;
            display: flex;
            padding-bottom: 4rem;
            border-bottom: 0.5px solid #F5F5F5;
           }
           .footer-child{
            width:25%;
            color: #ffff;
            
           }
           .footer-child a {
            font-weight: 900;
            text-decoration: none;
            color: #F5F5F5;
            font-size: 1rem;
            font-weight: 900;
            
           }
           .footer-child h6{
            margin-bottom: 1rem;
           }
           .footer-child a h5:hover{
            color: #ab7442;
            margin-left: 0.5rem;
            
           }
           .address-location a:hover {
            background-color: #ab7442;
            
            
            }

            .footer-lower{
                width: 80%;
                margin: auto;
                display: flex;
                justify-content: space-between;
                color: #F5F5F5;
                padding-top: 2rem;
            }
           

